<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>صفحه اصلی</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/gh/rastikerdar/vazir-font@v26.0.2/dist/font-face.css" rel="stylesheet" type="text/css" />
    <style>
        body {
            background-image: url("images/bg-index.jpg");
            background-color: #cccccc;
            font-family: Vazir;
        }

        .header-text {
          font-size: 6.5rem;
          text-shadow: 3px 3px 3px rgb(22, 24, 24) ;
          margin-top: 10%;   
        }

        .register-link {
          margin-left: 43%;
        }

        .desc {
          font-size: 1.9rem;
          text-shadow: 1px 1px 3px rgb(20, 247, 247) ;
        }
    </style>
</head>
<body>


    <p class="header-text d-flex justify-content-center text-white">چت باز</p> 
    <p class="d-flex justify-content-center text-dark desc">همین الان ثبت نام کن و </p>
    <p class="d-flex justify-content-center text-dark desc">.توی یه اتاق با دوستات چت کن</p>
    <a class="btn btn-info register-link" href="/auth/login" role="button">ثبت نام</a>
    <a class="btn btn-success login-link" href="/auth/login" role="button">ورود به حساب</a>



    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>